.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/E28EC678/sources/prop/D04A37B2
.Rproj.user/E28EC678/sources/s-5955DFC9/7DF3A79E-contents
.Rproj.user/E28EC678/sources/s-5955DFC9/EBD8B89F
.Rproj.user/E28EC678/sources/s-5955DFC9/EBD8B89F-contents
.Rproj.user/E28EC678/sources/s-5955DFC9/lock_file
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/E28EC6785955DFC9/chunks.json
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/c8bm90mt19vzi/000004.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/c8bm90mt19vzi/000005.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/c8bm90mt19vzi/000005.rdf
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/ca1k2b5jfe723/000006.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000004.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000005.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000005.png
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000005.snapshot
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/chunks.json
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000002.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000003.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000003.png
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000003.snapshot
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000020.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000021.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000021.png
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000021.snapshot
.Rproj.user/shared/notebooks/543A7975-Ophiocoma_resolution_contrast/1/E28EC6785955DFC9/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/543A7975-Ophiocoma_resolution_contrast/1/E28EC6785955DFC9/chunks.json
.Rproj.user/shared/notebooks/543A7975-Ophiocoma_resolution_contrast/1/E28EC6785955DFC9/ch3h6bdm79m20/000003.error
.Rproj.user/shared/notebooks/543A7975-Ophiocoma_resolution_contrast/1/E28EC6785955DFC9/ch3h6bdm79m20/000002.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000021.snapshot
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000021.png
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000021.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cza3ephuqlmba/000020.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000003.snapshot
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000003.png
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000003.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cyv2i9p35uf42/000002.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/csetup_chunk/000002.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/chunks.json
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/ch3h6bdm79m20/000004.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000005.snapshot
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000005.png
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000005.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/cde5bx9t0nnge/000004.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/ca1k2b5jfe723/000006.csv
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/c8bm90mt19vzi/000005.rdf
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/c8bm90mt19vzi/000005.metadata
.Rproj.user/shared/notebooks/14F9867E-tenerife_16_redux/1/s/c8bm90mt19vzi/000004.csv
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
